
/* Projects */
#projects {
  background-color: lightyellow;
}

#projects .project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.project-grid a{
  text-decoration: none;
}

.project-card {
  background: #e6f7ff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h3 {
  color: #0066cc;
  margin-bottom: 10px;
}
