#skills {
  background-color: #ffe4e1;
}

#skills ul li {
  font-size: 1.2em;
  display: inline-block;
  padding: 10px 30px;
  background-color: #f0f9f4;
  margin-left: 20px;
}

#skills ul {
  margin-left: 137px;
}